<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/face-api.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <video id="video" width="640" height="480" autoplay></video>

    <script type="text/javascript">
        var video = document.querySelector("#video");

        // if (navigator.mediaDevices.getUserMedia) {
        //     navigator.mediaDevices.getUserMedia({ video: true })
        //     .then(function (stream) {
        //         video.srcObject = stream;
        //     })
        //     .catch(function (error) {
        //         console.log(error);
        //         console.log("Something went wrong!");
        //     });
        // }

        async function run() {
            await faceapi.loadFaceLandmarkModel('/')

            const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
            video.srcObject = stream
        }

        run();
    </script>
  </body>
</html>
